#customForm {
    width: 30%;
}

#fields {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.field {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: end;
    gap: 8px;
}
